include section

+section("building-columns", "Education")
	ul
		each degree in education
			li.degree
				h4
					if degree.institution
						if degree.url
							a.institution(
								href=degree.url,
								target="_blank"
							)= degree.institution
						else
							span.institution= degree.institution
					if degree.endDate
						span.end-date.right= degree.endDate
				if degree.studyType || degree.score
					.subtitle
						+icon("graduation-cap")
						if degree.studyType
							span.study-type= degree.studyType
						if degree.score
							span.score= degree.score
				if degree.area
					.area= degree.area
				if degree.honors
					ul.honors
						each honor in degree.honors
							li.honor.md!= markdown.inline(honor)
