include icon

header#basics
	.contact
		if has("basics.location")
			.location
				+icon("location-dot")
				= join(["basics.location.city", "basics.location.region"])
		if has("basics.email")
			a.email(
				href="mailto:" + basics.email,
				title=["Email", basics.name].compactJoin(" ")
			)
				+icon("envelope")
				= basics.email
		if has("basics.phone")
			a.phone(
				href="tel:" + normalizedPhone,
				title=["Call", basics.name].compactJoin(" ")
			)
				+icon("phone")
				= basics.phone
		if has("basics.url")
			a.url(
				href=basics.url,
				target="_blank",
				title= "Visit " + ((basics.name != null) ? basics.name + "'s" : "their") + " website"
			)
				+icon("link")
				= basics.url
	.title
		h1.name= get("basics.name", "")
		if has("basics.label")
			h2.label #{basics.label}
	ul.profiles
		each profile in get("basics.profiles", [])
			li.profile
				a.network(
					href=profile.url,
					target="_blank",
					title=[profile.username, profile.network].compactJoin(" on ")
				)
					+icon("brands", lowercase(profile.network))
				if profile.username
					a.username(
						href=profile.url,
						target="_blank"
					)= profile.username
