include section

+section("toolbox", "Projects")
	ul.projects
		each project of projects
			li.project
				h4
					if project.name
						if project.url
							a.name(
								href=project.url,
								target="_blank"
							)= project.name
						else
							span.name= project.name
					if project.type
						span.type= "(" + project.type + ")"
					+date-range(project)(class="right")
				if !Object.isEmpty(project.roles) || project.entity
					.info
						unless Object.isEmpty(project.roles)
							.subtitle
								if project.icon
									+icon(project.icon)
								span.roles= project.roles.friendlyJoin("&")
						if project.entity
							.entity= project.entity
				+keywords(project.keywords)
				if project.description
					.description.md!= markdown(project.description)
				+highlights(project)
