include icon
include details

mixin section(icon, title, right, rightIcon)
	section.section(id=dasherize(title))&attributes(attributes)
		h3.section-header
			if icon
				+icon(icon)
			if title
				span.title= title
			if rightIcon
				+icon(rightIcon)(class="right")
			if right
				span.right= right
		.section-content
			if block
				block

mixin keywords(keywords)
	unless Object.isEmpty(keywords)
		ul.keywords
			each keyword in keywords
				li.keyword= keyword

mixin date-range(obj)
	.dates
		- const started = formatWorkDate(obj.startDate)
		- const ended = formatWorkDate(obj.endDate)
		if (started === ended) && ended
			.start.end= ended
		else
			if started
				.start= started
			if ended
				.end= ended

mixin highlights(obj)
	unless Object.isEmpty(obj.highlights)
		+details("Highlights")(class="highlights")
			ul
				each highlight in obj.highlights
					li.highlight.md!= markdown.inline(highlight)
