include section
include details

+section("briefcase", "Work Experience", workYears, "clock")
	ul.jobs
		each job of work
			li.job
				header
					.role
						if job.position
							.position= job.position
						if job.name || job.location
							.employer
								if job.name
									if job.url
										a.name(href=job.url, target="_blank")= job.name
									else
										span.name= job.name
								if job.location
									span.location= "(" + job.location + ")"
					.dates
						- const started = formatWorkDate(job.startDate)
						- const ended = formatWorkDate(job.endDate)
						if (started === ended) && ended
							.start.end= ended
						else
							if ended
								.end= ended
							if started
								.start= started
				if job.summary
					.summary.md!= markdown(job.summary)
				unless Object.isEmpty(job.highlights)
					+details("Highlights")(class="highlights")
						ul
							each highlight in job.highlights
								li.highlight.md!= markdown.inline(highlight)
